body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", monospace;
}

body > div {
    padding: 10px;
    margin: 10px 20%;
    border: 1px solid black;
}

h1#title {
    text-align: center;
    margin: 0;
    font-family: fantasy;
}

h1#title:hover {
    background-image: linear-gradient(to bottom, red, orange, yellow, lawngreen, cyan, blue, blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#graph-holder {
    padding: 10px 10%;
}

svg#graph {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 50vh;
}



svg#graph line.axis, svg#graph polygon.axis {
    stroke: #022;
}

svg#graph line.axis {
    stroke-width: 1;

}

svg#graph text.axis {
    font-family: monospace;
    fill: #022;
    font-size: 6px;
}

svg#graph text.axis.x {
    alignment-baseline: text-before-edge;
    text-anchor: middle;
}

svg#graph text.axis.y {
    alignment-baseline: middle;
    text-anchor: end;
}

svg#graph circle.point, svg#graph circle.miss, svg#graph circle.hit {
    stroke: none;
    fill: #000dff;
}

svg#graph circle.point:target {
    stroke: red;
    stroke-width: 1;
}

svg#graph text.point {
    alignment-baseline: text-after-edge;
    text-anchor: start;
    font-size: 6px;
    fill: black;
    font-weight: bold;
    font-family: monospace;
}



table#form {
    margin: auto;
}

table#form th {
    text-align: right;
    padding-right: 10px;
}

table#form td {
    text-align: center;
}

table#form input[type="text"] {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
}

table#request-history {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table#request-history tr.splitter {
    height: 10px;
}

table#request-history td {
    border: 1px solid black;
    background-color: #f3f3f3;
    padding: 5px;
}

table#request-history tr:target td {
    background-color: #ddd;
}

table#request-history td.invalid {
    background-color: coral;
}

#form-x > label {
    white-space: nowrap;
}

input#form-y.invalid, select#form-r.invalid, input#form-y.invalid:focus, select#form-r.invalid:focus {
    border-color: red;
    background-color: #fed;
}

label {
    border: 1px solid darkgrey;
    padding: 2px;
    display: inline-block;
}