table.history {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: smaller;
}

table.history tr.separator, table.history tr.separator > td {
    height: 10px;
    border: none;
    background-color: white;
}

table.history td {
    border: 1px solid black;
    background-color: #f3f3f3;
    padding: 5px;
}

table.history tr:target td {
    background-color: #ddd;
}

table.history td.invalid-input {
    background-color: coral;
}