body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", monospace;
}

body > div {
    padding: 10px;
    margin: 10px 20%;
    border: 1px solid black;
}

h1#title {
    text-align: center;
    margin: 0;
    font-family: fantasy;
}

h1#title:hover {
    background-image: linear-gradient(to bottom, red, orange, yellow, lawngreen, cyan, blue, blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#canvas-holder {
    padding: 10px 10%;
}

svg#canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 50vh;
}

svg#canvas line.axis {
    stroke: #09f;
    stroke-width: 1;
}

svg#canvas polygon.axis {
    fill: #09f;
}

svg#canvas text.axis {
    font-family: monospace;
    fill: #09f;
    font-size: 6px;
}

svg#canvas text.axis.x {
    alignment-baseline: text-before-edge;
    text-anchor: middle;
}

svg#canvas text.axis.y {
    alignment-baseline: middle;
    text-anchor: end;
}

svg#canvas circle.point {
    stroke: red;
    stroke-width: 1;
    fill: yellow;
}

svg#canvas circle.point:target {
    fill: orange;
}

svg#canvas text.point {
    alignment-baseline: text-after-edge;
    text-anchor: start;
    font-size: 6px;
    fill: black;
    font-weight: bold;
    font-family: monospace;
}

table#form {
    margin: auto;
}

table#form th {
    text-align: right;
    padding-right: 10px;
}

table#form td {
    text-align: center;
}

table#form input[type="text"] {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
}

table#form svg.pointer-triangle {
    width: 6px;
    height: 6px;
    position: absolute;
    top: 0;
}

table#form svg.pointer-triangle > path {
    fill: cornsilk;
    stroke: black;
    stroke-width: 1px;
}

table#form span.message-box {
    background-color: cornsilk;
    position: absolute;
    width: 60%;
    top: 5px;
    padding: 5px;
    border: 1px solid black;
    font-size: smaller;
}

table#request-history {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table#request-history tr.splitter {
    height: 10px;
}

table#request-history td {
    border: 1px solid black;
    background-color: #f3f3f3;
    padding: 5px;
}

table#request-history tr:target td {
    background-color: #ddd;
}

table#request-history td.invalid-input {
    background-color: coral;
}